<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>用户管理</title>
    <link type="text/css" rel="stylesheet" media="all" href="styles/global.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="styles/global_color.css"/>
    <script type="text/javascript" src="js/jquery.js"></script>

</head>
<body>
<!--Logo区域开始-->
<div id="header">
    <img src="../images/logo.png" alt="logo" class="left"/>
    <a href="/exit">[退出]</a>
</div>
<!--Logo区域结束-->
<!--导航区域开始-->
<div id="navi">
    <ul id="menu">
        <li><a href="/user_list" class="user_on"></a></li>
        <li><a href="/school_list" class="admin_off"></a></li>
        <li><a href="/admission_list" class="fee_off"></a></li>
        <li><a href="/excel_user_insert" class="account_off"></a></li>
        <li><a href="/excel_school_insert" class="service_off"></a></li>
        <li><a href="/excel_admission_insert" class="bill_off"></a></li>
    </ul>
</div>
<!--导航区域结束-->
<!--主要区域开始-->
<div id="main">
    <!--添加用户-->

    <div class="search_add" style="float: right">
        <div style="float: right">
            <form class="form_1" method="post" id="form_1">
                <div class="input_1">
                    <div class="input_logo" id="input_logo"></div>
                    <div class="close">X</div>
                </div>
                <hr>
                <input type="hidden" name="uid" id="updateUid">
                <div class="input_1">
                    <input type="text" name="user_name" placeholder="&nbsp;用户名">
                </div>
                <div class="input_1">
                    <input type="password" name="password" placeholder="&nbsp;密码">
                </div>
                <div class="input_1">
                    <input type="submit" class="submit_1" value="提交">
                </div>
            </form>
            <input type="button" value="增加" class="btn_add insertBtn"/>
        </div>
        <div style="float: left">
            <form class="form_2" action="user_list">
                <th>用户名:</th>
                <th><input type="text" name="user_name" style="width: 100px"></th>
                <th>
                    <input type="submit" value="查询" class="btn_add"/>
                </th>
            </form>

        </div>
    </div>

    <!--数据区域：用表格展示数据-->
    <div id="data">
        <table id="datalist">
            <thead>
            <tr>
                <th>序号</th>
                <th>用户id</th>
                <th>用户名</th>
                <th class="width400">密码</th>
                <th class="td_modi">操作</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            <tr th:each="user,star:${userList.list}">
                <td th:text="(${userList.pageNum}-1)*(${userList.pageSize})+${star.index}+1"></td>
                <td th:text="${user.uid}"></td>
                <td th:text="${user.user_name}"></td>
                <td>********</td>
                <td>
                    <input type="submit" th:attr="del_uri=@{/user_delete},uid=${user.uid}" value="删除"
                           class="btn_delete"/>
                    <input type="button" th:attr="upd_uri=@{/user_update},uid=${user.uid}" value="修改"
                           class="btn_modify"/>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <!--分页-->
    <div id="pages">
        <div style="float:left">
            <a th:href="'?pageNum=1'+'&user_name='+${user_name}">首页</a>
            <a th:if="${userList.hasPreviousPage}" th:href="'?pageNum='+${userList.prePage}+'&user_name='+${user_name}">上一页</a>
            <a th:if="${userList.hasNextPage}" th:href="'?pageNum='+${userList.nextPage}+'&user_name='+${user_name}">下一页</a>
            <a th:href="'?pageNum='+${userList.pages}+'&user_name='+${user_name}">尾页</a>
        </div>
        <div style="float:right">
            <form action="/user_list" method="post">
                <input type="text" name="pageNum" style="width: 50px;height: 20px"
                       oninput="value=value.replace(/[^\d]/g,'')">
                <input type="hidden" th:value="${user_name}" name="user_name">
                <button type="submit">跳转</button>
            </form>
        </div>
    </div>

</div>
<!--主要区域结束-->

<form id="deleteForm" method="post" style="float: end">
    <input id="deleteUid" type="hidden" name="uid"/>
</form>
<script>
    $(".btn_delete").click(function () {
        $("#deleteUid").attr("value", $(this).attr("uid"));
        $("#deleteForm").attr("action", $(this).attr("del_uri")).submit();
    })
</script>

<script>
    var form_1 = document.getElementsByClassName("form_1");
    $(".insertBtn").click(function () {
        $("#input_logo").html("添加用户");
        $("#form_1").attr("action", "user_insert");
        form_1[0].className = "form_1 open";
    })
    $(".btn_modify").click(function () {
        $("#input_logo").html("修改用户信息");
        $("#form_1").attr("action", "user_update");
        $("#updateUid").attr("value", $(this).attr("uid"));
        form_1[0].className = "form_1 open";
    })
    $(".close").click(function () {
        form_1[0].className = "form_1";
    })
</script>

<script th:if="${msg}!=null" th:inline="javascript">
    var msg = [[${msg}]];
    alert(msg);
</script>

</body>
</html>
